{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": ["react"],
  "extends": ["eslint:all", "plugin:react/all"],

  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties":true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread":true 
      }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-optimization": 1,
    "linebreak-style": ["error", "windows"],
    "one-var":[0],
    "eol-last":[0],
    "no-underscore-dangle":[0],
    "multiline-ternary":[0],
    "no-ternary":[0],
    "quotes":[2,"single"],
    no-extra-parens: [2, "all", { ignoreJSX: "multi-line" }]
  }
}